
body {background-color: sienna;
    background: radial-gradient(#D8B8A3, #A5653D);
    

}

.bisca {
max-width: 5%;
  position:absolute;
left:0;
top:0;
}
/* start af nav */
nav.page-navigation {
    width: 200px;
    background-color: radial-gradient(#D8B8A3, #A5653D);
    position: fixed;
    top:10%;
    left:0;
}
nav.page-navigation li {
    width: 100%;
}
nav.page-navigation a {
    padding: 0.6em 0%;
    width: 80%;
    font-size: 20px
}
/* Slut af nav*/ 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: auto;
  width: 25%;
}
.logo {
    max-width: 100%;
  margin-left: 580px;
    
}
.heading {
    color: #FFFF;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 300px;
    margin-top: 20px;
    text-align: center;
}
.paragraph {
     color: #FFFF;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 200px;
    margin-top: 20px;
}
.rugkiks {
    max-width: 50%;
  margin-top: 63px;
  margin-left: 52px;
  padding-right: 0px;
  padding-left: 57px;
  float: left;
  clear: left;
  border: 1px none #000;
}
.paragraph-1 {
    margin-top: 181px;
  font-family: serif; 
  color: #f5f5f5;
  font-size: 50px;
  font-style: normal;
  text-align: center;
}
.paragraph-2 {
    max-width: 798px;
  min-width: 13px;
  margin-top: 56px;
  margin-bottom: 0px;
    margin-left: 800px;
  font-family: serif; 
  color: #fff;
  font-size: 38px;
  line-height: 61px;
}
.heading-1 {
    font-size: 31px;
    font-family: serif;
    color: #fff;
    padding-top: 500px;
    padding-right: 200px;
    text-align: center;
}
  /* CSS af serveringmuligheder */



.card:hover {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 20px 160px;
}

.img {
  max-width: 100%;
  height: auto;
    margin-top: 100px;
    margin-left: 455px;
    
} 
.img_1a {
  max-width: 100%;
  height: auto;
    margin-left: 300px;
}
/* slut på serveringmuligheder */
.heading-2 {
    color: #fff;
    font-family: serif;
    text-align: center;
    font-size: 25px
}
.paragarph-3 {
    color: #fff;
    font-family: serif;
    text-align: center;
    font-size: 20px;
}
.heading-3 {
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman serif;
}
.produkter {
    padding: 0;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 1927px;
    clear: none;
    
}
/*start på karen Volf*/ 
.imgkaren {
    width: 100%;
    height: auto;
}
.heading-4 {
    color: #fff;
    font-family: serif;
    text-align: center;
}
.paragraph-4 {
    font-family: serif;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.heading-5 {
    color: #ffff;
    font-family: serif;
    text-align: center;
    margin-left: 550px;
    font-size: 30px
}

.paragraph-6 {
    color: #fff;
    font-family: serif;
    font-size: 29px;
    line-height: 51px;
    margin-left:auto
}
.imgbil {
    float:left;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}
.heading-7 {
    text-align: left;
    margin-top: 250px;
    font-family: serif;
    color: #fff
}
.paragraph-7 {
    color: #fff;
    font-family: serif;
    font-size: 20px;
    
    
}
heading-8 {
    
}
.section2 {
background-color: #464646;
 }


