/* top navigations menu */


.nav{
    
    border:none; 
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: white;
    padding-left: 5%;
    
}
/*Navigations menu slut */ 

body {background-color: sienna;
    background: radial-gradient(#D8B8A3, #A5653D);
    

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: auto;
  width: 25%;
}
.logo {
    position: absolute; 
    top: 0px;
    left: 16px;
    display: block
    margin-left:auto;
    margin-right: auto; 
    margin-bottom: auto; 
    width: 5%
    
    }

.rugkiks {
  position: absolute; 
    display: block
    margin-left: 20%;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: 15%;
    
    
}

h1 {

    font-family: serif;
    font-size: 3em;
    margin-bottom: 0.3em;
    text-align: center
}
h2 {
    color: #FFF;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 300px;
    margin-top: 20px;
}
p {
     color: #FFF;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 200px;
    margin-top: 20px;
}

div {
  
}
.alignright {

    float: right;
    
}


