/* top navigations menu */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
#topnav {
    display: inline-block;
    list-style-type: none;
}
/*Navigations menu slut */ 

body {background-color: sienna;
    background: radial-gradient(#D8B8A3, #A5653D);
    

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: auto;
  width: 25%;
}
.logo {
    display: block
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: auto; 
    width: 5%
    
    }

h1 {

    font-family: serif;
    font-size: 3em;
    margin-bottom: 0.3em;
    text-align: center
}
h2 {
    color: #FFF;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 300px;
    margin-top: 20px;
}
p {
     color: #FFF;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 200px;
    margin-top: 20px;
}

div {
  
}
.alignright {

    float: right;
}